p{
    font-family:'Arial Narrow Bold';
    text-align: center;
    line-height: 20px;
}
h1{
    font-family: 'Segoe UI';
    font-weight: 200;
}
h3{
    font-family: 'Courier New';
}
h2{
    text-align: center;
}