p{
    color: blue;
}
h3{
  color: brown;  
}
ul{
    font-family: 'Courier New';
}
h2{
    font-family: 'Gill Sans';
    color: blueviolet;
    line-height: normal;
}
h1{
    color: black;
}
div{
    font-family: 'sans-serif';
}